name: CI pipeline 24 Jan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  REPOSITORY_NAME: nachiketh
  IMAGE_TAG: latest

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Login to Github Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build the docker image
        run: |
          echo "Build Phase"
          IMAGE_URI=ghcr.io/${{ github.repository_owner }}/${{ env.REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}
          echo "Build docker image"
          docker build -t $IMAGE_URI .
          echo "IMAGE_URI = $IMAGE_URI" >> $GITHUB_ENV
      
      - name: Prepare Artifact Metadata
        run: echo "IMAGE_URL=${{env.IMAGE_URI}}" > artifact_metadata.json

      - name: Upload Artifact Metadata
        uses: actions/upload-artifact@v4
        with:
          name: artifact_metadata
          path: artifact_metadata.json
